from flask import render_template, session

from blueprints import home_index


@home_index.route('/')
def index():
    // if not session.get('logged_in'):
       // return render_template('login.html')
       return
    else: