<nav>
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">SOFTWAY4IoT</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/Login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/Home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/NSMan" >NSMan</a></li>
      <li routerLinkActive="active"><a routerLink="/SMan" >SMan</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
